
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #eee;
}

main {
    width: 660px;
    padding: 10px 20px; /* adds 10px padding on top/bottom and 20px on right/left */
    margin: 0 auto; /* center the div on the screen */
    background-color: #fff;
}

header, footer {
    text-align: center; /* center the text */
}

label {
	display: inline-block;
	padding: 20px 0 0 0;
    width: 100px;
}

button {
	margin: 20px 0 10px 0;
}

form {
    overflow: auto; /* Prevent floating elements (column divs) from taking up no space */
}

.column {
    width: 50%;
    float: left;
}